.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-container {
        position: relative;
        width: 450px;
        height: 300px;
        background: #fff;

        @media (max-width: 500px) {
            max-width: 90%;
            height: 240px;
        }

        .modal-close {
            position: absolute;
            top: 0;
            right: 0;
        }

        .modal-block {
            margin: 30px 40px;

            @media (max-width: 500px) {
                margin: 15px;
            }

            h3 {
                font-size: 20px;
                font-weight: 600;

                @media (max-width: 500px) {
                    font-size: 14px;
                }
            }

            p {
                font-size: 18px;
                font-weight: 400;

                @media (max-width: 500px) {
                    font-size: 12px;
                }
            }

            .modal-form {
                margin: 10px 0;

                div {
                    position: relative;
                    width: 100%;
                    margin: 10px 0;

                    .modal-form-icons {
                        position: absolute;
                        top: 0;
                        left: 5px;
                        width: 25px;
                        height: 25px;
                    }

                    input {
                        width: 100%;
                        height: 44px;
                        padding: 5px;
                        padding-left: 35px;
                        border: 1px solid #bebebe;
                        outline: none;
                    }
                }

                button {
                    width: 100%;
                    height: 44px;
                    font-size: 14px;
                    color: #fff;
                    border: none;
                }

                .active {
                    background: #1d1d1b;
                }

                .disabled {
                    background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), #1D1D1B;
                }
            }
        }
    }

    .modal-container-success {
        width: 330px;
        height: 260px;
        background: #fff;
        text-align: center;
        padding: 30px 20px;

        @media (max-width: 500px) {
            max-width: 90%;
            height: 230px;
            padding: 15px;
        }

        .modal-header {
            width: 60px;
            margin: 0 auto;
        }

        .modal-block {
            margin: 10px 0;

            h3 {
                font-size: 22px;
                font-weight: 600;
            }

            p {
                font-size: 14px;
                font-weight: 400;
            }

            .modal-form {
                margin: 10px 0;

                button {
                    width: 100%;
                    height: 44px;
                    font-size: 14px;
                    color: #fff;
                    background: #1d1d1b;
                    border: none;
                }
            }
        }
    }
}