@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('./components/AboutUs/AboutUs.css');
@import url('./components/Advantages/Advantages.css');
@import url('./components/Card/Card.css');
@import url('./components/Cart/Cart.css');
@import url('./components/CartModal/CartModal.css');
@import url('./components/CartProduct/CartProduct.css');
@import url('./components/CollectionCard/CollectionCard.css');
@import url('./components/FloatingButton/FloatingButton.css');
@import url('./components/Footer/Footer.css');
@import url('./components/Header/Header.css');
@import url('./components/Help/Help.css');
@import url('./components/Modal/Modal.css');
@import url('./components/News/News.css');
@import url('./components/Pagination/Pagination.css');
@import url('./components/ProductDetails/ProductDetails.css');
@import url('./components/SimilarProducts/SimilarProducts.css');
@import url('./components/Slider/Slider.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1168px;
  width: 95%;
  margin: 0 auto;
}

.cards-block {
  background: #f8f8f8;
  padding-bottom: 40px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.headers {
  font-size: 24px;
  font-weight: 500;
  padding-top: 25px;
  color: #393939;
}

.headers-main {
  font-size: 24px;
  font-weight: 500;
  padding-top: 25px;
  color: #393939;
  text-align: center;
}

.btn-more {
  text-align: center;
  margin: 10px 0;
}

.btn {
  width: 100px;
  height: 30px;
  background: #1D1D1B;
  border: none;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}

.text {
  margin-top: 18px;
  padding: 16px;
  background: #fff;
  font-size: 14px;
  line-height: 23px;
}

.help {
  display: flex;
  width: 100%;
  padding-top: 10px;
}

.help-image {
  width: 50%;
  margin-right: 25px;
}

.help-items {
  width: 100%;
}

.help-header {
  font-size: 24px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .cards {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: hidden;
  }

  .help {
    flex-direction: column;
  }

  .help-image {
    width: 80%;
    min-width: 300px;
    margin: 0 auto;
  }

  .help-header {
    margin-top: 20px;
  }
}